#hero-container {
    background-color: #2C3E50;
    height: 400px;
}

.ui.secondary.pointing.menu {
    margin-bottom: 0;
}

#hero-text {
    color: #ECF0F1;
    text-align: center;
    padding-top: 100px;
}
